html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Nice Looking Aras-Splitter */
.aras-splitter {
  position: relative;
  box-sizing: border-box;
  background-color: #eee;
  --holder-length: 96px;
  --holder-thickness: 4px;
  --splitter-thickness: 8px;
  --splitter-border-size: 0;
}
.aras-splitter-ghost {
  opacity: 1;
  background-color: #0303b0;
}
